.features {
  display: block;
  height: 845px;
  width: 525px;
  margin: 0px auto;

  @include breakpoint {
    height: 495px;
    width: 1165px;
    margin: 115px 155px 0px 120px;
  }
  &__card__thee {
    margin-top: 60px;
    @include breakpoint {
      display: flex;
    }
  }
  &__card__h2 {
    height: 60px;
    width: 520px;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #11223f;
    margin: 120px auto 0px;
    text-transform: uppercase;
    margin-bottom: 0px;
    @include breakpoint {
      margin: 0px;
      margin-top: 178px;
      margin-left: 40px;
    }
  }
  &__card__square {
    height: 25px;
    width: 25px;
    border-radius: 0px;
    top: 220px;
    position: absolute;
    left: 500px;
    @include breakpoint {
      position: absolute;
      top: 270px;
      z-index: 1;
      left: 300px;
    }
  }
  &__card__br-h2 {
    height: 2px;
    width: 80px;
    border-radius: 0px;
    background: #1968fc;
    box-shadow: 0px 2px 0px 0px #d1e1fe;
    margin-top: 10px;
    margin-bottom: 48px;
    @include breakpoint {
      margin-bottom: 0px;
      margin-left: -40px;
    }
  }
  &__card__box {
    background: #ffffff;

    width: 520px;
    border: 0px;
    box-shadow: 0px 20px 60px 0px #3145f41a;
    position: relative;

    &_two {
      margin-top: 60px;
    }
    &_one {
      margin-top: 0px;
    }
    &_three {
      margin-top: 60px;
    }

    @include breakpoint {
      height: 290px;
      width: 320px;

      position: relative;
      border-radius: 0px;
      &_two {
        margin: 40px 86px 0px 0px;
      }

      &_one {
        margin: 0px 74px 0px 40px;
      }

      &_three {
        margin: 80px 5px 5px 0px;
      }
    }
  }
  &__card__img {
    border-radius: 0px;
    @include breakpoint {
      height: 120px;
      width: 120px;
    }
  }

  &__card__name {
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin: 20px 0px 0px 20px;
    color: #11223f;
    @include breakpoint {
      height: 80px;
      width: 160px;
      margin: 20px;
    }
  }
  &__card__deckription {
    height: 60px;
    width: 440px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #11223f;
    margin: 30px 40px;
    padding-bottom: 30px;
    @include breakpoint {
      height: 90px;
      width: 240px;
      margin: 40px 40px;
    }
  }

  &__card__text {
    display: flex;
    margin: 0px 0px 0px 0px;
  }
}
