@import './breakpoint.scss';

.page-header {
  @include breakpoint {
    height: 50px;
    max-width: 1120px;
    min-width: 1024px;
    margin: 30px auto 0px;
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    position: relative;
  }
  &__logo-text {
    display: flex;
    margin: 0px 0px 0px 80px;
    @include breakpoint {
      margin: 0px;
    }
  }
  &__text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    margin: auto;
    color: #1968fc;
    margin-left: 10px;
  }
  &__menu-button {
    display: none;
    @include breakpoint {
      display: flex;
      position: absolute;
      right: 0px;
    }
  }
  &__nav-menu {
    display: flex;
  }
  &__nav-menu-item {
    height: 50px;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    &:nth-child(4) {
      width: 180px;
    }
  }
  &__button {
    height: 50px;
    width: 180px;
    border: 0px;
    background: #1968fc;
    box-shadow: 0px 10px 40px 0px #1968fc4d;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    background: #1968fc;
  }
}
