@import './header.scss';
@import './headline.scss';
html {
  font-family: 'Mulish', sans-serif;
}
body {
  height: 3843px;
  width: 1440px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
}
ul {
  list-style-type: none;
  padding: 0px;
}
