.users {
  display: block;
  height: 710px;
  width: 520px;
  margin: 0px auto 0px;
  @include breakpoint {
    height: 450px;
    width: 1160px;
    margin: 0px auto 0px;
  }
  &__card__all {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    @include breakpoint {
      display: flex;
      margin-top: 50px;
    }
  }
  &__card__h2 {
    height: 60px;
    width: 520px;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #11223f;
    margin: 125px auto 0px;
    text-transform: uppercase;
    margin-bottom: 0px;
    @include breakpoint {
      margin: 0px;
      margin-top: 115px;
      margin-left: 40px;
    }
  }

  &__card__br-h2 {
    height: 2px;
    width: 80px;
    border-radius: 0px;
    background: #1968fc;
    box-shadow: 0px 2px 0px 0px #d1e1fe;
    margin-top: 10px;
    margin-bottom: 0px;
    @include breakpoint {
      margin-bottom: 0px;
      margin-left: -40px;
    }
  }
  &__card__box {
    background: #ffffff;
    height: 190px;
    width: 250px;
    position: relative;
    margin-top: 40px;
    box-shadow: 0px 20px 60px 0px #3145f41a;

    &_one {
      margin-right: 20px;
      margin-top: 0px;
    }
    &_two {
      margin: 0px;
    }

    &_three {
      margin-top: 20px;
      margin-right: 20px;
    }
    &_four {
      margin-top: 20px;
    }
    &_five {
      margin-top: 20px;
      margin-right: 20px;
    }
    &_six {
      margin-top: 20px;
    }

    @include breakpoint {
      height: 160px;
      width: 360px;
      position: relative;
      border-radius: 0px;
      &_one {
        margin: 0px 20px 0px 40px;
      }
      &_two {
        margin-right: 20px;
      }

      &_three {
        margin: 0px 0px 0px 0px;
      }
      &_four {
        margin: 20px 20px 0px 40px;
      }
      &_five {
        margin: 20px 20px 0px 0px;
      }
      &_six {
        margin-top: 20px 0px 0px 0px;
      }
    }
  }

  &__card__name {
    height: 40px;
    width: 210px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #1967fa;
    text-transform: uppercase;
    margin: 20px;

    @include breakpoint {
      height: 40px;
      width: 320px;
    }
  }
  &__card__deckription {
    height: 90px;
    width: 210px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #11223f;
    margin: 20px;
    margin-top: 0px;
    @include breakpoint {
      height: 60px;
      width: 320px;
    }
  }

  &__card__text {
    display: flex;
    margin: 0px 0px 0px 0px;
  }
}
