ul {
  list-style-type: none;
}
.br {
  border-top: 1px solid #2b292d;
  width: 1400px;
  opacity: 0.1;
  margin-top: 59px;
  margin-bottom: 0px;
}

.footer {
  width: 1400px;
  height: 389px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__content {
    width: 559px;
    height: 231px;
    margin-left: 129px;
    margin-top: 43px;
    display: flex;
  }
  &__logo-text {
    display: flex;
    height: 60px;
    margin: auto 0px;
    align-items: center;
  }
  &__logo-img {
    display: flex;
    margin: 0px;
    height: 60px;
    width: 60px;
    border-radius: 14px;
  }
  &__logo-info {
    margin-left: 15px;
  }
  &__logo-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }
  &__logo-deckription {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #2b292d99;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__menu {
    display: flex;
  }
  &__text-deckription {
    height: 85px;
    width: 360px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #2b292d99;
    margin: 26px 0px 0px 0px;
  }
  //icon
  &__image {
    margin-top: 25px;
  }
  &__image_icon:nth-child(2) {
    margin-left: 10px;
  }
  //menu
  &__menu {
    display: flex;
    margin: 17px 0px 0px 126px;
  }
  &__menu_list {
    padding: 0px;
  }
  &__menu_heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    margin: 0px 0px 18px 0px;
  }
  &__menu_item {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #2b292d99;
    margin: 0px;
  }
  &__menu_product {
    height: 185px;
    width: 265px;
  }

  &__menu_company {
    margin-left: 29px;
    height: 185px;
    width: 265px;
  }
  //buttom
  &__nav_list {
    display: flex;
    height: 22px;
    width: 180px;
    padding: 0px;
  }
  &__navigation {
    position: relative;
    width: 1126px;
    height: 23px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 15px;
  }
  &__nav_item:nth-child(2) {
    margin: 0px auto;
  }
  //icon
  &__bottom_image {
    display: flex;
    height: 18px;
    width: 97px;
  }
  &__bottom_image {
    position: absolute;
    right: 0px;
  }
  &__bottom_image-icon:nth-child(2) {
    margin: 0px auto;
  }
}
