* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, Geneva, Tahoma, sans-serif;
  background-color: #000;
}

body {
  display: flex;
  width: 1440px;
  margin: 132px 115px;
}
span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
img {
  padding: 0px 22px;
}
button.backgr-blue,
p.backgr-blue {
  background-color: #3a6ba5;
}
button.backgr-orange,
p.backgr-orange {
  background-color: #ec632a;
}

@import './tables.scss';
