@import './tables.scss';

body {
  display: flex;
  width: 1440px;
  justify-content: center;
  height: 1000px;

  background: #141b1c;
}

html {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}
p,
div {
  color: #ffffff;
}
.price-card__website {
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
  color: #ffffff;
}
.price {
  background: #334247;
  height: 770px;
  width: 380px;
  margin: auto 0px;
  border: none;

  &_two {
    position: relative;
  }
  &:nth-child(2) {
    margin-left: 18px;
  }
  &:nth-child(3) {
    margin-left: 18px;
  }
}
