.order {
  display: flex;
  width: 1400px;
  height: 441px;
  margin: auto;
  &_img {
    height: 296px;
    width: 269px;
    margin-top: 73px;
    margin-left: 224px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 106px;
    margin-left: 122px;
  }
  &__h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
  }
  &__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    height: 64px;
    width: 555px;
    margin: 12px 0px 0px;
  }
  &__form-email {
    margin: 26px 0px 0px;
  }
  &__input-email {
    height: 48px;
    width: 385px;
    border-radius: 2px;
    border: 1px solid #2b292d33;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
    color: #2b292d;
  }
  &__button-email {
    border: none;
    margin: 0px;
    height: 48px;
    width: 160px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 2px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #3040c4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
  &__form-terms {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0px 0px;
  }
}
