@import 'variable.scss';

.header {
  height: $unit * 7;
  background-color: $color-grey;
}
.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style-type: none;
  align-items: center;
  height: $unit * 7;
  color: $color-secondary-text;
  font-weight: 700;
  cursor: pointer;

  &__item {
    padding: $unit;
    background-color: $color-secondary;
    margin-left: $unit;
    border-radius: $border-radius;

    &_selected {
      background-color: $color-primery;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
