@import 'breakpoint';
.audience {
  max-height: 1808px;
  min-width: 320px;
  background: #edf8fb;

  @include for-device-large {
    height: 983px;
    width: 1400px;
    position: relative;
    margin: auto;
  }
  &__content {
    padding-top: 50px;
    @include for-device-large {
      padding-top: 108px;
    }
  }
  &__visitors {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 0px 0px;
    @include for-device-large {
      font-size: 22px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      margin: 0px auto 0px;
    }
  }
  &__h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    min-height: 80px;
    min-width: 290px;
    margin: 17px 15px 0px 15px;
    @include for-device-large {
      height: 112px;
      width: 555px;
      margin: 24px auto 0px;
      font-size: 56px;
      font-weight: 700;
      text-align: center;
      line-height: 56px;
    }
  }
  &__text {
    max-height: 136px;
    min-width: 290px;
    margin: 18px 15px 0px 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    @include for-device-large {
      height: 72px;
      width: 555px;
      line-height: 34px;
      text-align: center;
      color: #2b292d;
      margin: 30px auto 0px;
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    @include for-device-large {
      margin-top: 34px;
      flex-direction: row;
      margin: 34px auto 0px;
      justify-content: center;
    }
  }
  &__start {
    border: none;
    margin: 30px auto 0px;
    height: 48px;
    width: 290px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 2px;
    background-color: #3040c4;

    @include for-device-large {
      border: none;
      margin: 0px;
      height: 48px;
      width: 160px;
    }
  }
  &__learn {
    border: none;
    margin: 12px auto 0px;
    height: 48px;
    width: 290px;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 2px;
    background-color: #ffffff;

    @include for-device-large {
      border: none;
      margin: 0px;
      height: 48px;
      width: 158px;
    }
  }
}
//cards
.card {
  margin-top: 111px;
  justify-content: center;
  align-items: center;
  @include for-device-large {
    display: flex;
  }

  &__img {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 290px;
    margin: 15px auto 0px auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;

    background-blend-mode: overlay;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    );
    background: rgba(255, 255, 255, 1);

    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;

    @include for-device-large {
      margin-right: 30px;
      width: 262px;
    }

    &:hover {
      background: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      &:hover .card__name {
        color: #ffffff;
      }
    }
  }

  &__img:nth-child(4) {
    margin-bottom: 50px;
    @include for-device-large {
      margin-right: 0px;
    }
  }

  &__name {
    margin: 22px auto 0px;
    font-size: 22px;
    font-weight: 700;
    color: #2b292d;
  }
}
