@import 'breakpoint';

.audiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: normal;

  background: rgba(0, 161, 198, 0.07);
}
.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include for-device-large {
    flex-direction: row;
  }
  // text-align: center;
  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    width: 290px;
    height: 300px;
    margin-bottom: 15px;
    @include for-device-large {
      width: 262px;
      margin: 110px 15px;
    }

    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    &:hover {
      display: flex;
      color: #fff;

      font-weight: bold;

      background: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin-left: 15px;
  @include for-device-large {
    font-size: 56px;
    line-height: 56px;
    justify-content: center;
    letter-spacing: -0.5px;
    width: 555px;
    margin-top: 84px;
  }

  &__heading-secondary {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    @include for-device-large {
      margin: 24px;
    }
  }
  &__heading-primary {
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    @include for-device-large {
      font-size: 56px;
      line-height: 56px;
      justify-content: center;
      letter-spacing: -0.5px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
}

@import 'breakpoint';
