@import 'breakpoint';

.ollheader {
  height: 890px;
  min-width: 320px;
  background-color: #f3c6bd;
  @include for-device-large {
    background-color: #f3c6bd;
    width: 1400px;
    height: 710px;
    padding-top: 39px;
    position: relative;
    margin: auto;
  }
}
.header {
  display: flex;
  width: 100vw;
  height: 64px;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  @include for-device-large {
    height: 62px;
    width: 1140px;
    margin: auto;
    background-color: #f3c6bd;
  }
  &__logo {
    margin: 8px 13px 0px 15px;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    @include for-device-large {
      height: 60px;
      width: 60px;
      border-radius: 14px;
    }
  }
  //logo text
  &_text__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }
  &_text__name__deskription {
    display: none;
    @include for-device-large {
      display: inline-block;
    }
  }
}
//logo menu
.nav {
  display: none;
  @include for-device-large {
    display: flex;
    position: absolute;
    right: 130px;

    &_menu {
      display: flex;
      list-style-type: none;
      width: 273px;
      height: 25px;
      margin: 0px;
      padding: 0px;
      align-items: center;

      &_item:nth-child(2) {
        margin: auto;
      }
    }
    &__button {
      height: 48px;
      width: 160px;
      margin-left: 54px;

      border-radius: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #3040c4;

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      border-radius: 2px;
    }
  }
  .nav_menu_item {
    font-size: 18px;

    &__bold {
      font-weight: 700;
    }
    &__arrow {
      width: 8px;
      height: 5px;
      margin-left: 11px;
    }
  }
}
//menu mob
.menu_mob {
  display: flex;
  position: absolute;
  right: 0px;
  height: 64px;
  width: 58px;
  align-items: center;
  justify-content: center;
  @include for-device-large {
    display: none;
  }
  &__line {
    border: 1px solid #000000;
    height: 64px;
    width: 1px;
    opacity: 15%;
    height: 64px;
    margin-right: 20px;
  }
  &__icon {
    z-index: 1;
    color: #2c3241;
    margin-right: 35px;
  }
}
//hedline
.headline {
  display: block;
  @include for-device-large {
    display: flex;
  }
  &_box {
    z-index: 1;
  }
  &__h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 35px 0px 0px 15px;
    min-width: 290px;
    max-width: 754px;
    @include for-device-large {
      font-size: 80px;
      font-weight: 700;
      line-height: 78px;
      width: 754px;
      height: 165px;
      margin: 76px 0px 0px 126px;
    }
  }
  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    min-width: 290px;
    max-height: 172px;
    max-width: 456px;
    min-height: 102px;
    margin: 24px 15px 0px 15px;
    @include for-device-large {
      height: 102px;
      width: 456px;
      margin-top: 34px;
      margin-left: 130px;
      font-family: Work Sans;
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
    }
  }
  //image header
  &__image {
    min-height: 180px;
    min-width: 320px;
    margin: 33px 0px 0px 0px;
    @include for-device-large {
      position: absolute;
      height: 448px;
      width: 796px;
      right: 25px;
      bottom: 77px;
    }
  }
}
//buttom
.button {
  display: flex;
  flex-direction: column;
  @include for-device-large {
    flex-direction: row;
    align-items: center;
    margin: 58px 0px 0px 130px;
  }
  margin-top: 30px;
  &__start {
    border: none;
    margin: auto;
    height: 48px;
    width: 290px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 2px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #3040c4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    @include for-device-large {
      margin: 0px;
      height: 48px;
      width: 160px;
    }
  }
  &__learn {
    border: none;
    margin: 15px auto 0px;
    height: 48px;
    width: 290px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 2px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    @include for-device-large {
      margin: 0px 0px 0px 10px;
      height: 48px;
      width: 158px;
    }
  }
}
