@import 'breakpoint';

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 15px;
  background: #f4f5f7;
  @include for-device-large {
    flex-direction: row;
    padding: 70px 224px;
  }
  &__image {
    width: 200px;
    margin: 40px 60px;
    @include for-device-large {
      display: flex;
      justify-content: center;
      margin: 0px;
      width: 100%;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-device-large {
      flex-grow: 1;
      align-items: flex-start;
    }

    &_heading {
      letter-spacing: -0.25px;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      margin: 0px auto;
      @include for-device-large {
        margin: 0px;
        padding-top: 33px;
      }
    }
    &_text {
      font-size: 22px;
      line-height: 32px;
      margin: 22px 15px;
      @include for-device-large {
        margin: 22px 0px;
        width: 555px;
      }
    }
    &_cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include for-device-large {
        flex-direction: row;
      }
      &-input {
        text-align: center;
        width: 290px;
        height: 48px;
        margin: 18px 15px 12px;

        @include for-device-large {
          flex-direction: row;
          height: 48px;
          width: 385px;
          border-radius: 2px;
          margin: auto 10px;
        }
      }
    }
    &_trial {
      margin: 0 15px 50px;
      font-size: 14px;
      line-height: 22px;
      color: #2b292d99;
    }
  }
}
