@import 'breakpoint';

.order {
  margin: auto;
  background: #f4f5f7;

  @include for-device-large {
    display: flex;
    width: 1400px;
    height: 441px;
    margin: auto;
  }
  &_img {
    height: 220px;
    width: 200px;
    margin: 50px 60px 0px 60px;
    @include for-device-large {
      height: 296px;
      width: 269px;
      margin-top: 73px;
      margin-left: 224px;
      margin-right: 0px;
    }
    &__window {
      height: 220px;
      width: 200px;
      margin: auto;
      @include for-device-large {
        height: 296px;
        width: 269px;
      }
    }
  }
  &__content {
    display: block;
    @include for-device-large {
      display: flex;
      flex-direction: column;
      margin-top: 106px;
      margin-left: 122px;
    }
  }
  &__h2 {
    margin: 40px auto 0px auto;
    height: 80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

    @include for-device-large {
      margin: 0px;
      width: 555px;
      height: 48px;
      text-align: left;
      letter-spacing: -0.25px;
    }
  }
  &__text {
    height: 167px;
    width: 290px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 18px auto 0px auto;
    align-items: center;

    @include for-device-large {
      font-size: 22px;
      height: 64px;
      width: 555px;
      margin: 12px 0px 0px;
      line-height: 32px;
      color: #2b292d;
    }
  }
  &__form-email {
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    @include for-device-large {
      margin: 26px 0px 0px;
      flex-direction: row;
    }
  }
  &__input-email {
    margin: 0px auto;
    height: 48px;
    width: 290px;
    border-radius: 2px;
    padding: auto;
    border: 1px solid #2b292d33;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    color: #2b292d;

    @include for-device-large {
      height: 48px;
      width: 385px;
      padding-left: 15px;
      margin: 0px 10px 0px 0px;
      text-align: center;
    }
  }
  &__button-email {
    margin: 12px auto 0px auto;
    height: 48px;
    width: 290px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #3040c4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    @include for-device-large {
      border: none;
      margin: 0px;
      height: 48px;
      width: 160px;
    }
  }
  &__form-terms {
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

    @include for-device-large {
      margin: 10px 0px 0px;
      height: 22px;
      left: 616px;
      width: 100%;
      color: rgba(43, 41, 45, 0.6);
    }
  }
}
