* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(45deg, red, orange);
}
main {
  display: flex;
  flex-grow: 1;
}
footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

.section {
  width: 60vw;
  padding: 0.5em;
  font-size: 1.25em;
}
.section__header {
  font-size: calc(100vw - 95vw);
  text-align: center;
}
.units-list {
  line-height: 1.75em;
}
.news {
  width: 20vw;
  padding: 0.5em;
}
.navigation {
  width: 20vw;
  padding: 0.5em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.nav-list-link {
  color: white;
  text-decoration: none;
}
.nav-list-item {
  padding-left: 0.5em;

  margin-bottom: 0.5em;
  background-color: #808080;
  color: white;
  height: 2em;
  line-height: 2em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list {
  padding: 0px;
}
