main {
  display: flex;

  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: center;
}
.article {
  padding: 16px;
  margin: 8px;
  background-color: bisque;
  flex-direction: column;
  flex-basis: 250px;

  flex-grow: 1;
}
