main {
  display: flex;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}
.article {
  padding: 16px;
  margin: 8px;
  background-color: bisque;
  flex-direction: column;
  flex-basis: 200px;
  flex-grow: 1;
}
