.spinner {
  margin: auto;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;

  animation-timing-function: linear;

  position: relative;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.rect {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 2s, blinking 2s;
  animation-iteration-count: infinite;
  animation-direction: inherit;
}
