input[type='checkbox'] {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.checkmark {
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.checkbox {
  padding-left: 35px;
  position: relative;
  font-size: 24px;
}
.checkbox :checked + .checkmark {
  background-color: #006400;
}
label {
  display: inline-block;
  margin: 16px;
}
