* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.spinner {
  margin: auto;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: text 2s linear infinite;
}
.circle {
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid lightgray;
  border-top: 4px solid black;
  animation: root 2s linear infinite;
}
@keyframes root {
  0% {
    transform: rotate (0);
  }
  50% {
    transform: rotate (180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
