* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

html {
  font-family: Work Sans, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  min-width: 320px;
}

img {
  max-width: 100%;
}

span {
  font-weight: 700;
}

.about {
  display: flex;
  background-color: #f4f5f7;
}
.article {
  margin: 46px 15px 0px 15px;
}
@media screen and (min-width: 1400px) {
  .article {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 62px 115px;
  }
}
.article__text {
  font-size: 22px;
  margin-top: 0px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .article__text {
    width: 555px;
    margin: 15px;
  }
}

.audiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: normal;
  background: rgba(0, 161, 198, 0.07);
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .user-card {
    flex-direction: row;
  }
}
.user-card__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  width: 290px;
  height: 300px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .user-card__image {
    width: 262px;
    margin: 110px 15px;
  }
}
.user-card__image:hover {
  display: flex;
  color: #fff;
  font-weight: bold;
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .content {
    font-size: 56px;
    line-height: 56px;
    justify-content: center;
    letter-spacing: -0.5px;
    width: 555px;
    margin-top: 84px;
  }
}
.content__heading-secondary {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .content__heading-secondary {
    margin: 24px;
  }
}
.content__heading-primary {
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}
@media screen and (min-width: 1400px) {
  .content__heading-primary {
    font-size: 56px;
    line-height: 56px;
    justify-content: center;
    letter-spacing: -0.5px;
  }
}
.content__text {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

.header {
  display: flex;
}
.header__logo {
  margin: 8px 13px 0px 15px;
  border-radius: 8px;
}
.header__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.header__content-heading {
  margin: 0px;
}
.header__content_text {
  flex-grow: 2;
  display: none;
  margin: 0px;
}

.nav {
  display: flex;
  flex-grow: 1;
}
.nav__menu {
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .nav__menu {
    display: none;
  }
}
.nav__list {
  margin-top: 28px;
}
@media screen and (min-width: 1400px) {
  .nav__list {
    flex-grow: 1;
    display: flex;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin: auto;
    height: 25px;
  }
}
.nav__list_item {
  display: none;
}
@media screen and (min-width: 1400px) {
  .nav__list_item {
    display: block;
    padding-left: 35px;
    height: 25px;
  }
  .nav__list_item:hover {
    cursor: pointer;
    font-weight: 700;
  }
}
.nav__list_arrow {
  display: none;
}
@media screen and (min-width: 1400px) {
  .nav__list_arrow {
    display: flex;
    cursor: pointer;
    margin-left: 11px;
    align-items: center;
    height: 25px;
  }
}
.nav__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .nav__button {
    display: flex;
    flex-grow: 1;
    margin: auto;
    padding-left: 56px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
  }
}
.nav__button_header {
  height: 48px;
  width: 160px;
  color: #fff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

@media screen and (min-width: 1400px) {
  .allheader {
    min-width: 1400px;
    min-height: 710px;
    padding: 40px 25px 77px 130px;
    background-color: #f3c6bd;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  background: #f3c6bd;
  padding-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .headline {
    flex-direction: row;
    margin-top: 84px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
  }
}
.headline__heading {
  margin: 35px 15px 9px;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__heading {
    position: absolute;
    height: 165px;
    width: 754px;
    left: 148px;
    top: 188px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2b292d;
    margin: 0px;
  }
}
.headline__text {
  margin: 15px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__text {
    margin: 0px;
    padding-bottom: 48px;
    width: 456px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__image {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 15px;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    padding: 70px 224px;
  }
}
.order__image {
  width: 200px;
  margin: 40px 60px;
}
@media screen and (min-width: 1400px) {
  .order__image {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
}
.order__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order__form {
    flex-grow: 1;
    align-items: flex-start;
  }
}
.order__form_heading {
  letter-spacing: -0.25px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin: 0px auto;
}
@media screen and (min-width: 1400px) {
  .order__form_heading {
    margin: 0px;
    padding-top: 33px;
  }
}
.order__form_text {
  font-size: 22px;
  line-height: 32px;
  margin: 22px 15px;
}
@media screen and (min-width: 1400px) {
  .order__form_text {
    margin: 22px 0px;
    width: 555px;
  }
}
.order__form_cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order__form_cta {
    flex-direction: row;
  }
}
.order__form_cta-input {
  text-align: center;
  width: 290px;
  height: 48px;
  margin: 18px 15px 12px;
}
@media screen and (min-width: 1400px) {
  .order__form_cta-input {
    flex-direction: row;
    height: 48px;
    width: 385px;
    border-radius: 2px;
    margin: auto 10px;
  }
}
.order__form_trial {
  margin: 0 15px 50px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}

.footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer {
    flex-direction: row;
    margin: 48px 130px;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__left {
    align-items: flex-start;
    margin-top: 0px;
    flex-grow: 1;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .footer__info {
    flex-direction: row;
  }
}
.footer__info_heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
}
.footer__info_text {
  font-family: Work Sans;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__info_text {
    text-align: left;
  }
}
.footer__image {
  display: flex;
  margin: 13px 20px;
}
.footer__image_icon {
  margin-left: 10px;
}
.footer__text {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__text {
    display: flex;
    width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
  }
}
.footer__right {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0px;
}
@media screen and (min-width: 1400px) {
  .footer__right {
    flex-direction: row;
    margin: 12px 15px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1400px) {
  .footer__right_content {
    flex-direction: column;
    margin: 15px;
    width: 265px;
  }
}
.footer__right_heading {
  font-size: 22px;
  line-height: 28px;
  margin: 0px;
}
.footer__right_list {
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  margin: 18px 0px 30px 0px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer__bottom {
    flex-direction: row;
    height: 50px;
    margin-left: 130px;
    align-items: center;
  }
}
.footer__bottom_list {
  margin: 0px 5px;
  display: flex;
}
.footer__bottom_item {
  padding: 0px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__bottom_item {
    font-size: 18px;
    line-height: 30px;
  }
}
.footer__bottom_image {
  margin: 30px 10px;
}
@media screen and (min-width: 1400px) {
  .footer__bottom_image {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 132px;
  }
}
.footer__bottom_image-icon {
  padding: 0px 5px;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .footer__bottom_image-icon {
    padding: 0 10px;
  }
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .button {
    flex-direction: row;
    margin-bottom: 0px;
  }
}
.button__start {
  width: 290px;
  height: 48px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .button__start {
    width: 160px;
    height: 48px;
    margin: 0px;
  }
}
.button__learn {
  width: 290px;
  height: 48px;
  color: #3040c4;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .button__learn {
    width: 160px;
    height: 48px;
    margin-left: 15px;
  }
}
